
body {
	font-family: 'Roboto', sans-serif;
	background: #2c3e50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*CSS gradient from: https://uigradients.com/#BetweenNightandDay */
}

#container {
	margin: 100px auto;
	width: 360px;
	background-color: #F0F0F0;
	padding-left: 0;
	padding-right: 0;
}

h1 {
	background-color: #303030;
	padding: 20px;
	color: #FFFF;
	text-transform: uppercase;
	text-align: center;
}

.form-control {
	margin-right: 8px;
	margin-left: 16px;
	margin-top: 24px;
}

.list-group {
	color: #303030;
}

.btn-outline-secondary {
	background-color: #FFFF;
	color: #303030;
	border-color: #303030;
	height: calc(1.5em + .75rem + 2px);
	margin-top: 24px;
	margin-right: 16px;
}

.btn-outline-secondary:hover {
	background-color: #303030;
	color: #FFFF;
	border-color: #303030;
}

.list-group-item {
	color: black;
}

.fa-trash-o {
	float: right;
	cursor: pointer;
	opacity: 0.5;
}

.fa-trash-o:hover {
	opacity: 1.0;
	background-size: 40px;
}


.btn-outline-dark {
	color: #303030;
	border-color: #303030;
	margin: 16px;
}

.btn-outline-dark:hover {
	background-color:#303030;
	color: #FFFF;
	border-color: #303030;
}

.done {
	text-decoration: line-through;
	opacity: 0.5;
}

.done:hover {
	text-decoration: line-through;
	opacity: 0.5;
}